:host {
    display: block;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 1em;
    width: 400px;
}
h3{
  margin-right: 0px;
}

:host-context(.dark) h1 {
    background-color: grey;
    color: black;
}

a {
    display: inline-block;
    margin: 1em 0;
    cursor: pointer;
    text-decoration: underline;
}

.category{
  display: inline-block;
}

.highlight {
    background-color: rgb(250, 50, 50);
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-size: 12px;
    margin-bottom: 2em;
    display: inline-block;
}

button {
    border: 0;
    outline: 0;
    padding: 1em;
    font-size: 1em;
}

.active {
    background-color: rgb(50, 50, 200);
    color: white;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

button:not(.active) {
    opacity: 0.56;
}
