<h1>Curso Angular</h1>
<p *ngIf="!isAvailable; else available">Lanzamiento: {{launchDate| date:"dd MMM y h:mm:ss":"-0000" | uppercase }}</p>
<ng-template #available>
    <span class="highlight">Curso Dispobible</span>
</ng-template>
<div class="category" [ngSwitch]="category">
  <span *ngSwitchCase= "'web'">Desarrollo Web</span>
  <span *ngSwitchCase= "'mobile'">Desarrollo Móvil</span>
  <span *ngSwitchCase= "'other'">Desarrollo General</span>
  <span *ngSwitchDefault>No Especificado</span>
</div>
<h3>Tutor: {{ name }} </h3>
<div class="">
    <a (click)="toggleMoreInformation()">Más Información <i class="fa "
      [ngClass]="{'fa-chevron-circle-down': !moreInformation,'fa-chevron-circle-up':
      moreInformation}"></i></a>
    <p *ngIf="moreInformation">
      <span style="display: block;font-weight: bold;"> {{seconds | secondsToTimeFormat: true}} </span>
        Este es un curso de Angular en el que aprederás temas como Componentes,
        Servicios, Animaciones, Módulos, fundamentos del framework y mucho más.
    </p>
</div>

<ul>
  <li *ngFor="let topic of topics; index as posicion">{{posicion+1}}.-{{topic}}</li>
</ul>

<div>
    <button [disabled]="!isAvailable || !subscribed" [ngClass]="{active: isAvailable && subscribed,
    shadow: !isAvailable}"   type="button" name="button">Inscribir {{price | currency:'Bs'}}</button>
</div>
